body {
  /*margin: 0px;*/
  width: 100%;
  font-family: Verdana;
}

header {
  background-color: grey;
  height: 100px;
  width: 100%;
  display: inline-block;
}

nav img {
  margin: 15px 30px;
  display: inline-block;
}

nav ul {
  display: inline-block;
  font-size: 0px;
  /*height: 30px;*/
  margin-bottom: 30px;
  margin-left: 30px;
}

nav li {
  display: inline-block;
  color: #bfbfbf;
  margin-right: 40px;
  font-size: 18px;
  float: left;
}

main {
  width 960px;
}

#hero {
  clear: both;
  margin: 30px auto;
  display: block;
}

#container {
  display: block;
  margin: 0 auto 30px auto;
  text-align: center;
}

#inner_one {
  display: inline-block;
  margin-right: 30px;
}

#inner_two {
  display: inline-block;
  margin-right: 30px;
}

#inner_three {
  display: inline-block;
}

#sctn {
  margin: auto;
  display: block;
  width: 960px;
}

#imgntxt {
  display: inline;
  float: left;
  margin-right: 40px;
}

h2 {
  margin: 0;
}

#ptext {
  font-size: 15px;
  position: absolute;
  display: inline-block;
  float: right;
  margin-right: 100px;
  width: 450px;
  overflow: scroll;
  height: 300px;
}

button {
  clear: both;
  display: normal;
  margin-top: 320px;
  border: 2px solid black;
  height: 50px;
  width: 330px;
  font-size: 18px;
  border-radius: 10px;
}

footer {
  clear: both;
  margin-top: 30px;
  background-color: gray;
  height: 130px;
}
